meta(charset="utf-8")
meta(name='viewport' content='width=device-width, initial-scale=1')

//- Primary Meta Tags
title #{page} - #{route_title} #{server_title} Free to play * Enjoy *
meta(name='title' content='Conquer Online Private Server - Free to play * Enjoy *')
meta(name='description' content='Conquer Online Private Server Coded By Kiinno')

//- Open Graph / Facebook
meta(property='og:type' content='website')
meta(property='og:url' content='/')
meta(property='og:title' content='Conquer Online Private Server - Free to play * Enjoy *')
meta(property='og:description' content='Conquer Online Private Server Coded By Kiinno')
meta(property='og:image' content=static_url("imgs/poster.jpg"))

//- Twitter
meta(property='twitter:card' content='summary_large_image')
meta(property='twitter:url' content='/')
meta(property='twitter:title' content='Conquer Online Private Server - Free to play * Enjoy *')
meta(property='twitter:description' content='Conquer Online Private Server Coded By Kiinno')
meta(property='twitter:image' content=static_url("imgs/poster.jpg"))

meta(name='keywords' content='conquer, conquer online')
meta(name='robots' content='index, follow')
meta(http-equiv='Content-Type' content='text/html; charset=utf-8')
meta(name='language' content='English')
meta(name='author' content='Kiinno-Developer')